{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<!--slider -->
<!-- set data-bs-intertval to false to stop automatic transitioning and delete data-bs-ride-->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/background_1.png" class="d-block w-100 darkened-image" alt="...">
      <div class="carousel-caption d-md-block sizingText-div-1">
        <h1>Online Digital Skills Consultant</h1>
        <p>Click on <b>"Get Started"</b> to get presonalized recommendations on how to improve your digital skills.</p>
            <button type="button" class="btn btn-outline-light btn-lg">Get Started</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/images/background_2.png" class="d-block w-100 darkened-image-2" alt="...">
      <div class="carousel-caption d-md-block sizingText-div-2">
        <h1>"Quote Lorem ipsum dolor sit amet, consectetur adipiscing elit"</h1>
        <p>Click on <b>"Get Started"</b> to get presonalized recommendations on how to improve your digital skills.</p>
        <button type="button" class="btn btn-outline-light btn-lg">Get Started</button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class= "container-fluid" style="margin-top: 20%; color: grey;">
  <div class="row" style="height: 300px; overflow-y: scroll;">
    <div class="col-sm-3">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/30/db08f0422e11e89c78d77b0b063ff0/img_archcont.png?auto=format%2Ccompress&dpr=1&w=300&h=300&fit=crop" alt="responsive webite" class="img-thumbnail" style="margin-le">
    </div>
    <div class="col-sm-9" >
      <h2>Course Title</h2>
      <p>Bootstrap is a famous front-end framework used to create mobile-first responsive websites. The latest release
        version of bootstrap has removed JQuery dependency not fully work on vanilla javascript.</p>
      <p>Using bootstrap it becomes very easy to build a responsive website.</p>
    </div>
        <div class="col-sm-3">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/30/db08f0422e11e89c78d77b0b063ff0/img_archcont.png?auto=format%2Ccompress&dpr=1&w=300&h=300&fit=crop" alt="responsive webite" class="img-thumbnail" style="margin-le">
    </div>
    <div class="col-sm-9" >
      <h2>Course Title</h2>
      <p>Bootstrap is a famous front-end framework used to create mobile-first responsive websites. The latest release
        version of bootstrap has removed JQuery dependency not fully work on vanilla javascript.</p>
      <p>Using bootstrap it becomes very easy to build a responsive website.</p>
    </div>
  </div>
</div>

<div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
  <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
</div>
<div class= "container-fluid" >
  <div class="scrollspy-example row" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" tabindex="0" style="position: relative; overflow-y: scroll;">
    <div class="col-sm-3">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/30/db08f0422e11e89c78d77b0b063ff0/img_archcont.png?auto=format%2Ccompress&dpr=1&w=300&h=300&fit=crop" alt="responsive webite" class="img-thumbnail" style="margin-le">
    </div>
    <div class="col-sm-9" id="list-item-1">
      <h2>Course Title</h2>
      <p>Bootstrap is a famous front-end framework used to create mobile-first responsive websites. The latest release
        version of bootstrap has removed JQuery dependency not fully work on vanilla javascript.</p>
      <p>Using bootstrap it becomes very easy to build a responsive website.</p>
    </div>
        <div class="col-sm-3">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/30/db08f0422e11e89c78d77b0b063ff0/img_archcont.png?auto=format%2Ccompress&dpr=1&w=300&h=300&fit=crop" alt="responsive webite" class="img-thumbnail" style="margin-le">
    </div>
    <div class="col-sm-9" id="list-item-2">
      <h2>Course Title</h2>
      <p>Bootstrap is a famous front-end framework used to create mobile-first responsive websites. The latest release
        version of bootstrap has removed JQuery dependency not fully work on vanilla javascript.</p>
      <p>Using bootstrap it becomes very easy to build a responsive website.</p>
    </div>
  </div>
</div>








<!--Footer-->
<footer class="text-center text-white color-customclass">
  <div class="container">
    <!--Grid row-->
    <div class="row d-flex justify-content-center">
      <!--Grid column-->
      <div class="col-6-lg">
        <p class="footerText">
          I have created this web-application to help people that want to
          transition into tech or educate themselves in current
          and emerging technologies.
        </p>
        <p>
          <i>Feel free to connect with me via</i>
          <a href="https://de.linkedin.com/in/simon-rahenbrock-95a688192?trk=profile-badge"><i>LinkedIn</i></a>
        </p>
      </div>
      <div class="row justify-content-center badge-base LI-profile-badge"
        data-locale="de_DE"
        data-size="small"
        data-theme="dark"
        data-type="HORIZONTAL"
        data-vanity="simon-rahenbrock-95a688192"
        data-version="v1">
        <a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/simon-rahenbrock-95a688192?trk=profile-badge"></a>
      </div>
    </div>
  </div>
</footer>

{% endblock %}