{% extends "layout.html" %}

{% block title %}
    Question 1 of 10
{% endblock %}

{% block main %}

<form action="/q1" method="get" >
    <!--Select Menu-->
<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col-12 text-center menu-margins">
        <h5>How comfortable are you with basic technologies (Cloud, Internet, Computer Science basics)?</h5>
        <select required class="form-select mx-auto w-auto" aria-label="Default select example" name="x">
          <option value="1">less</option>
          <option value="2">more</option>
          <option value="3">very</option>
        </select>
      </div>
      <div class="col-12 text-center menu-margins">
        <h5>How comfortable are you with programming?</h5>
          <select required class="form-select mx-auto w-auto" aria-label="Default select example" name="x">
            <option value="1">less</option>
            <option value="2">more</option>
            <option value="3">very</option>
          </select>
      </div>
      <div class="col-12 text-center menu-margins">
        <h5>Please select your interests:</h5>
          <select required class="selectpicker" id="select_1" multiple name="x" data-max-options="4" data-max-options-message="Max items: 3" title='Choose three from...'>
            <option value="1">Machine Learning</option>
            <option value="2">Blockchain</option>
            <option value="3">Internet of Things</option>
            <option value="3">Data Analytics/ Science</option>
            <option value="3">Computer Science</option>
            <option value="3">Programming with Python</option>
          </select>
          <button class="btn btn-light" id="btnDeselect">Deselect</button>
      </div>
      <div class="col-12 text-center menu-margins">
        <h5>Please select your goals:</h5>
          <select required class="selectpicker" id="select_2" multiple aria-label="Default select example" name="x">
            <option value="1">Get a new job in tech</option>
            <option value="2">Boost my CV</option>
            <option value="3">Learn about new technologies</option>
          </select>
          <button class="btn btn-light" id="btnDeselect_2">Deselect</button>
      </div>
      <div class="d-grid gap-2 col-2 mx-auto" style="margin-top: 5%; margin-bottom: 5%;">
            <button type="button" class="btn btn-outline-light btn-lg">Submit</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}