{% extends "layout.html" %}

{% block title %}
    Input
{% endblock %}

{% block main %}

    <!--Select Menu-->
<div class="container-fluid">
  <div class="container-lg">
    <form action="/qs" method="post">
      <div class="row justify-content-center">
        <div class="col-12 text-center menu-margins">
          <h5>How comfortable are you with basic technologies (Cloud, Internet, Computer Science basics)?</h5>
          <select required class="selectpicker show-tick" name="q1">
            {% for option in options_q %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-12 text-center menu-margins">
          <h5>How comfortable are you with programming?</h5>
            <select required class="selectpicker show-tick" name="q2">
              {% for option in options_q %}
                <option value="{{ option }}">{{ option }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="col-12 text-center menu-margins">
          <h5>Please select up to three areas of your interest:</h5>
            <select required class="selectpicker" id="select_1" name="q3" data-selected-text-format="count" multiple data-live-search="true" title='Choose three from...'>
              {% for option in options_q3 %}
                <option value="{{ loop.index0 }}">{{ option }}</option>
              {% endfor %}
            </select>
            <button class="btn btn-light" id="btnDeselect">Deselect</button>
        </div>
        <div class="col-12 text-center menu-margins">
          <h5>Please select your goals:</h5>
            <select required class="selectpicker show-tick" id="select_2" multiple name="q4" title="Choose any from...">
              {% for option in options_q4 %}
                <option value="{{ option }}">{{ option }}</option>
              {% endfor %}
            </select>
            <button class="btn btn-light" id="btnDeselect_2">Deselect</button>
        </div>
        <div class="col text-center" style="margin-top: 5%; margin-bottom: 5%;">
              <button type="submit" class="btn btn-outline-light btn-lg">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}