body {
    background-color: #fff;
    color: #212529;
    font-size: 1.2rem;
    font-weight: 400;;
    margin: 0;
    font-style: "Quicksand";
}

.greybox{
    padding: 4px;
}

.carousel-caption {
    position: absolute;
    top: 50%
    transform: translateY(-70%);
}

.greyish {
    background-color: #f5f4f3;
}

.carousel-inner img{
    width: 100%;
    height: 100%;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

hr {
    height:2px;
    width:50%;
    border-width:0;
}

