body {
    background-color: #fff;
    color: #212529;
    font-size: 1.2rem;
    font-weight: 400;;
    margin: 0;
    font-style: "Quicksand";
}



@keyframes changeFilter {
0% {
    filter: brightness(10%);
}
20%{
    filter: brightness(20%);
}
50% {
    filter: brightness(30%);
}
70% {
    filter: brightness(40%);
}
100%{
    filter: brightness(50%);
}
}


.bg {
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
            -45deg,
            rgba(59,173,227,1) 0%,
            rgba(87,111,230,1) 25%,
            rgba(152,68,183,1) 51%,
            rgba(255,53,127,1) 100%
    );
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}








.darkened-image {
    animation: changeFilter 5s infinite;
    background-image: url(
'/images/background.png');
    height: 100%;
    width: 100%;
}


.center{
    margin-left: 42.5%;
    margin-right: 50%;
}


.footerText{
    font-size: 100%;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}



.container_i {
    position: absolute;
    top: 40%;
    margin-left: 40%;
    margin-right: 40%;
}
.image_container {
    width: 421px;
    height: 365px;
}
.preview_image{
    position: absolute;
}
.iframe_overlay {
    width: 270px;
    height: 155px;
    z-index: 1000;
}










.color-customclass {
    background-color: black;
}

#badge-center {
    margin-right: 450%;
    margin-left: 38.5%;
    margin-top: 1%;
}

.box {
    margin-bottom: 20%;
    margin-top: 15%;
}

@media only screen and (max-width: 400px) {
    .carousel-caption{
        margin-bottom: 5%;
    }
    .carousel-caption h1{
        font-size: 20px;
    }
    .carousel-caption h3{
        font-size: 15px;
    }

}


.carousel-inner img{
    width: 400px;
    height: 700px;

}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
}

.carousel-caption h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    text-shadow: 1px 1px 10px #000;
}