body {
    background-color: #fff;
    color: #212529;
    font-size: 1.2rem;
    font-weight: 400;;
    margin: 0;
    font-style: "Quicksand";
}

/*--- carousel customization ---*/


.carousel-caption h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    text-shadow: 1px 1px 10px #000;
}


.carousel-inner img{
    width: 40%;
    height: 10%;

}

/*--- glow effect ---*/
@keyframes changeFilter {
0% {
    filter: brightness(55%);
}
20%{
    filter: brightness(60%);
}
50% {
    filter: brightness(65%);
}
100% {
    filter: brightness(70%);
}

}


@keyframes AnimateBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.darkened-image {
    animation: changeFilter 6s infinite;
    background-image: url('/images/background.png');
    height: 100%;
    width: 100%;
}

.darkened-image-2 {
    animation: changeFilter 6s infinite;
    background-image: url('/images/background_2.png');
    height: 100%;
    width: 100%;
}

/*--- footer customization ---*/

.center {
    margin-left: 42.5%;
    margin-right: 50%;
}


.footerText{
    font-size: 90%;
    text-align: right;
    margin-left: auto;
    margin-top: 20%;
    margin-bottom: auto;
}


.color-customclass {
    background-color: black;
}

.custom-badge {

    margin-top: 2%;
}

.box {
    margin-bottom: 20%;
    margin-top: 15%;
}


/*--- media queries ---*/

@media only screen and (max-width: 400px) {
    .sizingText-Slide1 {
        float: center;
    }

    .sizingText-Slide2 {
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        margin-right:40%;
    }

    .carousel-caption h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 100%;
    }

    .carousel-caption p {
        font-size: 80%;
    }
}


@media only screen and (max-width: 800px) {
    #my-badge {
        display: none;
}

    .sizingText-Slide1{
        float center;
}

    .carousel-caption h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 100%;
    }

    .carousel-caption p {
        font-family: 'Quicksand', sans-serif;
        font-size: 100%;
    }

}

