body {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;;
    margin: 0;
    font-family: "Arial", sans-serif;
}

/*--- carousel customization ---*/
.sizingText-div-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-38%);
    margin-left: auto;
    margin-right: auto;
}

.sizingText-div-2 {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    margin-right: 38%;
    margin-left: auto;
}

.carousel-caption h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
    text-shadow: 1px 1px 10px #000;
    color: white
}


.carousel-caption p {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: white;
}

.bd-example {
    position: center;
    overflow-y: scroll;
    max-height: 300px;
    max-width:400px;

}

/*--- fixed height will get rid of the flickering but requires specification in all media queries---*/
.carousel-inner img {
    width: 100%;
    max-height: 90vh;
}


/*--- glow effect ---*/
@keyframes changeFilter {
0% {
    filter: brightness(50%);
}
20%{
    filter: brightness(63%);
}
50% {
    filter: brightness(68%);
}
100% {
    filter: brightness(75%);
}

}


@keyframes AnimateBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.darkened-image {
    animation: changeFilter 6s infinite;
    background-image: url('/images/background_1.png');
    width: 100%;
    max-height: 100vh;
}

.darkened-image-2 {
    animation: changeFilter 6s infinite;
    background-image: url('/images/background_2.png');
    width: 100%;
    max-height: 100vh;
}

/*--- footer customization ---*/

.center {
    margin-left: 42.5%;
    margin-right: 50%;
}


.footerText{
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}


.color-customclass {
    background-color: black;
}

#my-badge {
    margin-top: 2%;
    margin-right: 0;
    margin-left: 75%;
    margin-bottom: 3%;
    text-align: center;
}

.box {
    margin-bottom: 20%;
    margin-top: 15%;
}

footer {
    position: absolute;
    height: 100%;
    width: 100%;
}

/*--- media queries ---*/
@media only screen and (max-width: 575px) {
    .sizingText-div-1{
        position: absolute;
        top: 40%;
        transform: translateY(-60%);
}

    .sizingText-div-2 {
        position: absolute;
        top: 40%;
        transform: translateY(-65%);
        margin-right: auto;
    }

    .carousel-caption h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
    }

    .carousel-caption p {
        font-size: 10px;
    }

    .footerText{
        font-size: 10px;
        margin-bottom: 5%;
    }

    #my-badge{
        display: none;
    }

    .btn-lg {
        width: 100px;
        height: 30px;
        padding: 0;
        font-size: 14px;
}
    .carousel-indicators{
        bottom: -18px;
    }
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
    .footerText{
        font-size: 14px;
        margin-bottom: 5%;
    }

    #my-badge{
        display: none;
    }

    .sizingText-div-1 {
        top: 50%;
        transform: translateY(-40%);
    }

    .sizingText-div-2 {
        top: 40%;
        transform: translateY(-40%);
        margin-right:40%;
    }

    .carousel-caption h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 100%;
    }

    .carousel-caption p {
        font-family: 'Quicksand', sans-serif;
        font-size: 60%;
    }

    .carousel-inner img {
        width: 100%;

    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .sizingText-div-1 {
        top: 50%;
        transform: translateY(-40%);
    }

    .sizingText-div-2 {
        top: 40%;
        transform: translateY(-45%);

    }

    .carousel-caption h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 26px;
    }

    .carousel-caption p {
        font-family: 'Quicksand', sans-serif;
        font-size: 12px;
    }

    #my-badge{
        display: none;
    }

    .footerText{
        font-size: 16px;
        margin-bottom: 5%;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1300px) {

    .sizingText-div-2 {
        top: 40%;
        transform: translateY(-50%);
        margin-right: 40%;
    }

    .sizingText-div-2 {
        top: 40%;
        transform: translateY(-40%);
        margin-right: 40%;
    }

    .carousel-caption h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 36px;
    }

    .carousel-caption p {
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
    }

    #my-badge{
        display: none;
}
}

@media only screen and (min-width: 1301px) and (max-width: 1800px) {
    .sizingText-div-2 {
        top: 40%;
        transform: translateY(-32%);
        margin-right: 40%;
    }


    .carousel-caption h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 46px;
    }

    .carousel-caption p {
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
    }
}