{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Transaction</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
     {% for t in transactions %}
      </tr>
        <th scope="row">{{t["symbol"]}}</th>
        <td>{{t["quantity"]|abs}}</td>
        <td>{{t["price"]}}</td>
        {% if t["quantity"] > 0 %}
        <td style="color: green">{{(t["quantity"]*t["price"])|round(2, 'ceil')}}</td>
        {% else %}
        <td style="color: red">{{t["quantity"]*t["price"]}}</td>
        {% endif %}
        <td>{{t["Timestamp"]}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}