{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Transaction</th>
      </tr>
    </thead>
    <tbody>
     {% for t in transactions %}
      </tr>
        <th scope="row">{{t["symbol"]}}</th>
        <td>{{abs(t["quantity"])}}</td>
        <td>{{t["price"]}}</td>
        {% if t["value"] }
        <td>{{t["value"]}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="mb-3">
    <h5>Portfolio Value:</h5>
    <p>${{total}}</p>
    <h5>Cash Balance:</h3>
    <p>${{cash_balance}}</p>
  </div>

{% endblock %}