{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Quantity</th>
        <th scope="col">Current Price</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <th scope="row">1</th>
    {% for stock in stocks_owned %}
        <td>{{stock["symbol"]</td>
        <td>{{item["quantity"]</td>
    {% endfor %}

    {% for price in prices %}

       </tr>
    </tbody>
  </table>

{% endblock %}