{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Quantity</th>
        <th scope="col">Current Price</th>
        <th scope="col">Total Value</th>
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
      <tr>
        <th scope="row">1</th>
        <td>{{item.symbol}}</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

{% endblock %}