{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password_repeat" placeholder="Repeat Password" type="password">

        </div>
        <div style="color: grey; font-size: 14px; margin-bottom: 1px;">
            Password must contain at least:
            <ul style="list-style: none;">
                <li>2 special characters: !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~./<li>
                <li>3 digits</li>
                <li>8 characters</li>
            </ul>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
