{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

<form action="/sell" method="POST">

    <div class= "mb-4">
        <label>Choose a symbol:</label>

        <select name="symbol" id="symbols">
        <option value="AAPL">AAPL</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
        </select>
    </div>

    <div class="mb-4">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="" name="number" placeholder="i.e. 1" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>


{% endblock %}