{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

<form action="/sell" method="POST">

    <label for="cars">Choose a symbol:</label>

    <select name="symbol" id="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>

    <div class="mb-4">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="" name="number" placeholder="i.e. 1" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>


{% endblock %}